*{
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 20px;
}
td,th,caption{
    border: 1px solid #000;
}
caption{
    border-bottom: none;
}
.weekend{
    color: red;
 }
caption{
    font-weight: 700;
}